/* Header */
.header {
  padding: 1rem;
  box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.header .container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}

.header .logo {
  width: 170px;
  order: 0;
  margin-right: auto;
}

.header .navbar {
  padding-top: .5rem;
  order: 3;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: 320ms ease-in-out;
}

.header .navbar.active {
  height: 210px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .navbarLink {
  text-align: center;
  padding: .8rem .5rem;
  border-bottom: 1px solid #dfdfdf;
  letter-spacing: 2px;
}

.header a {
  text-decoration: none;
  color: var(--txt-color);
}

 /* Icon Menu */
.header .iconMenu {
  order: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.header .iconMenu .hamburger-icon {
  width: 40px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 5px;
  position: relative;
  transition: 320ms ease-in-out;
}

.header .iconMenu .hamburger-icon::before,
.header .iconMenu .hamburger-icon::after {
  content: '';
  width: 100%;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 5px;
  position: absolute;
  transition: 320ms ease-in-out;
}

.header .iconMenu .hamburger-icon::before {
  transform: translateY(-12px);
}

.header .iconMenu .hamburger-icon::after {
  transform: translateY(12px);
}

 /* Active Menu */
.header .iconMenu.active .hamburger-icon {
  background-color: transparent;
  transform: translateX(40px);
}

.header .iconMenu.active .hamburger-icon::before {
  transform: rotate(45deg) translate(-28px, 28px);
}

.header .iconMenu.active .hamburger-icon::after {
  transform: rotate(-45deg) translate(-28px, -28px);
}

 /* Search */
.containerSearch {
  order: 1;
  margin: auto 0;
}

.containerSearch .icon {
  width: 30px;
}

/* Media Queries */
@media screen and (min-width: 768px) {

  .header .iconMenu {
    display: none;
  }

  .header .navbar {
    order: 1;
    height: auto;
    flex: 1;
    display: flex;
    padding-top: 0;
  }

  .header .navbar ul {
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
  }

  .header .navbarLink {
    border-bottom: none;
    padding: .5rem 0;
    margin-right: .5rem;
    font-size: .8rem;
  }

  .header .navbarLink:last-child {
    margin-right: 0;
  }

  .header .navbarLink a {
    padding: .3rem 1rem;
    background-color: transparent;
    transition: background-color 320ms ease-in-out;
  }

  .header .navbarLink.active a {
    background-color: var(--primary-color);
    color: white;
  }

  .header .navbarLink:hover a {
    background-color: #dfdfdf;
  }
  
  .containerSearch {
    order: 2;
  }


  .containerSearch .icon {
    width: 25px;
  }

}
/* FIN Header */


/* Section Hero */
.hero {
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

.hero .containerTxt {
  margin: auto auto 2rem auto;
  text-align: center;
  color: white;
  padding: .8rem;
}

.hero .containerTxt .heroTitle {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 8px;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.hero .containerTxt .heroTxt {
  margin: 0 0 .3rem 0;
  letter-spacing: 2px;
  font-size: .7rem;
}

.hero .containerButton {
  margin-bottom: auto;
  display: flex
}

.btnLink {
  margin: auto;
  background-color: white;
  text-decoration: none;
  color: var(--primary-color);
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .75rem;
  display: block;
  width: max-content;
  transition: all 320ms ease-in-out;
  border: 1px solid transparent;
}

.btnLink:hover {
  background-color: var(--primary-color);
  color: white;
  border-color: white;
}

.btnLink.btnPrimary {
  background-color: var(--primary-color);
  color: white;
}

.btnLink.btnPrimary:hover {
  background-color: white;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .hero .containerTxt .heroTitle {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .hero .containerTxt .heroTxt {
    font-size: 1rem;
  }
}

/* FIN Section Hero */

/* Main Section */

.work {
  padding: 3rem 1rem 2rem 1rem;
}

.containerTypeGrid {
  display: flex;
  align-items: center;
  gap: 15px;
}

.containerTypeGrid .btnIcon {
  width: 20px;
}

.containerTypeGrid .btnIcon img {
  width: 100%;
}

.containerTypeGrid .btnIcon:first-child {
  margin-left: auto;
}

.containerTypeGrid .btnIcon:last-child {
  margin-right: auto;
}

.containerFilters {
  max-width: 1300px;
  margin: 0 auto;
}

.containerFilters .filterMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin-top: 4rem;
  padding: 0;
}

.containerFilters .filterMenu .navbarLink {
  margin-right: .5rem;
  margin-bottom: 1.5rem;
}

.containerFilters .filterMenu .navbarLink a {
  text-decoration: none;
  padding: .4rem 1.2rem;
  color: var(--txt-color);
  letter-spacing: 2px;
  text-transform: capitalize;
  transition: background-color 320ms ease-in-out;
}

.containerFilters .filterMenu .navbarLink.active a {
  background-color: var(--primary-color);
  color: white;
}

.imagesGrid {
  columns: 3 230px;
  column-gap: 1rem;
  max-width: 1180px;
  margin: 0 auto;
}

.imagesGrid .grid-item {
  max-width: 100%;
  margin-bottom: .9rem;
  display: block;
  padding: .5rem;
  box-sizing: border-box;
  background-color: #f6f6f6;
}

.containerBtnMore {
  margin-top: 3rem;
}

/* Media Queries */
@media screen and (min-width: 768px) {

  .containerFilters {
    margin-bottom: 3rem;
    max-width: 650px;
  }

  .containerFilters .filterMenu .navbarLink {
    margin-bottom: 0;
  }

  .containerFilters .filterMenu .navbarLink:hover a {
    background-color: #dfdfdf;
  }

}

/* FIN Main Section */


/* Footer */
.footer {
  text-align: center;
  font-size: 1.2rem;
  color: var(--social-color);
  letter-spacing: 2px;
  margin-top: 3rem;
  padding: 5rem 1rem;
}

.highlight {
  color: var(--primary-color);
}

.footer .containerSocialIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}

.footer .containerSocialIcons a {
  width: 28px;
  height: 28px;
  margin-right: 1.5rem;
}

.footer .containerSocialIcons a:first-child {
  margin-left: auto;
}

.footer .containerSocialIcons a:last-child {
  margin-right: auto;
}

.footer .containerSocialIcons img {
  width: 100%;
  height: 100%;
}


/* FIN Footer */